@import url("../fonts/fonts.css");

::-moz-placeholder,
:-moz-placeholder {
  opacity: 1;
}

:focus {
  outline: 0;
}

:root {
  --text-size-mini: 3rem;
  --white-grey: #F3F7F9;
  --color-icon: #888888;
  --white: #FFFFFF;
  --white-opasity: rgba(255, 255, 255, .3);
  --white-opasity-2: rgba(255, 255, 255, .2);
  --basic-background: #F1F5F7;
  --light-violet: #F9F5F0;
  --basic-greylight: #C5C5C5;
  --basic-grey: #3D546F;
  --gray-ligth: #EAEAEA;
  --gray: #293449;
  --gray-color: #32425C;
  --basic-red: #EE3643;

  --Error: #BA2732;
  --basic-green: #63A63E;
  --success: #5FBB2D;
  --special-greenlight: #8ED78F;
  --special-yellow: rgba(255, 191, 71, 1);
  --special-yellow-o: #FFD27E;
  --special-yellowlight: #FFD180;

  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --color-line: #B52933;
  --black: #000000;
  --font-sans: 'PT Sans', Arial, serif;
  --font-cuprum: 'cuprum', Arial, serif;
}

h1 {
  font-size: var(--text-size-mini);
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: var(--font-cuprum);
  /* line-height: 1; */
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: .3s ease-in-out;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input {
  outline: none;
  border: none;
}

input,
textarea {
  border-radius: 0;
  -webkit-border-radius: 0
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input {
  background: rgb(1, 1, 1, .05);
  width: 100%;
}

input:focus {
  border: none;
  outline: none;
  transition: 0.2s ease-in;
}

input:invalid {
  border: red;
}

button {
  cursor: pointer;
  background-color: transparent;
  transition: .3s ease-in-out;
}

p {
  padding: 0;
  margin: 0;
}

.burger-btn__open {
  background-image: url(../image/burger_menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  border: none;
  /* background-color: transparent; */
  height: 16px;
  width: 24px;
}

/* кнопка закрыть меню  image/burger_close.svg */
.burger-btn__close {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  height: 30px;
  width: 30px;
  border: none;
  background-image: url(../image/burger_close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

/* бургер меню */
.modal__mb {
  position: fixed;
  top: 0;
  left: -200%;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 0.2s ease-in-out;
}

.modal__mb_window {
  position: relative;
  background-color: #9e9d52;
  padding: 40px 20px;
  height: 100%;
  width: 100%;
  max-width: 500px;
}

.burger-link {
  margin-top: 30px;
}

.modal_link {
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 136.8%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.modal_logo {
  display: block;

  background-size: contain;
  background-repeat: no-repeat;
  width: 46px;
  height: 40.89px;
}

.modal_box {
  display: flex;
  justify-content: space-between;
}

._locked {
  overflow: hidden;
}

/* moby-modal-off */


.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 940px;
  margin: 0 auto;
}

/* модальное окно начало */
._locked {
  overflow: hidden;
}

.modal__btn {
  border: none;
  background-color: #f36262;
  padding: 5px 10px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  font-size: 16px;
  cursor: pointer;
}

._modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  pointer-events: none;
}

.modal-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.modal-body {
  padding: 24px;
  background-color: #fff;
  width: 700px;
  margin: auto;
  max-height: 90%;
  overflow: auto;
  border-radius: 16px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modal-close:before,
.modal-close:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background: black;
  right: 0;
}

.modal-close:before {
  transform: rotate(45deg);
}

.modal-close:after {
  transform: rotate(-45deg);
}

/* модальное окно конец  */
/* бургер меню  */


.modal_window {
  background-color: #252525;
  padding: 113px 20px;
  height: 100%;
  width: 100%;
  max-width: 229px;
}

.header-modal-close {
  background-image: url(../image/close.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  left: 20px;
  top: 20px;
  height: 16.97px;
  width: 16.97px;
}

.burger-link::after {
  display: block;
  position: relative;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #A8A8A8;
  transition: width .2s ease-in-out, left .5s ease-in-out;
  left: 0%;
  bottom: -10px;
}

.burger-link a {
  color: #ffffff;
  display: block;
  margin-top: 20px;
}

._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  left: 0;
}

.burger_active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  left: 0;
}


.burger-btn {
  background-image: url(../image/burger-menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  background-color: transparent;
  height: 16px;
  width: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #858585;
}

.to-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  background: gray;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  z-index: 5;
  transform: scale(1);
  transition: .3s linear;

}

.to-up:hover {
  text-decoration: none;
  transform: scale(1.2);
}

.header {
  color: var(--white);
  background-color: var(--basic-background);
  padding-bottom: 44px;
}

.header-bar {
  background-color: var(--gray);
  height: 42px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.header-left {
  display: flex;
  align-items: center;
  position: relative;
}

.header-wrap-logo {
  margin-right: 17px;

}

.img-logo {
  height: 47px;
  position: absolute;
  left: 0;
  top: 0;
}

.header-wrap-logo {

  height: 100%;
  width: 220px;
  position: relative;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.header-box {
  gap: 3.2vw;
  display: flex;
  align-items: center;
}

.header-right svg {
  margin-right: 7px;
}

.header-icons {
  color: var(--color-icon);
}

.header-btn {
  color: var(--white);
  height: 42px;

}

.header-btn:hover,
.header-btn:hover .header-icons {
  color: var(--special-blue);
  transition: linear .2s;
}

.btn-order {
  background-color: var(--basic-green);
  padding-left: 19px;
  padding-right: 16px;
}

.btn-order:hover {
  background-color: var(--success);
  color: var(--white);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding-top: 41px;
  padding-bottom: 48px;
  gap: 15px;
}

.header-description-text {
  line-height: 144%;
  color: var(--basic-red);
  /* max-width: 197px; */
  font-style: italic;
  font-size: 16px;
}

.header-users {
  display: flex;
  gap: 10px;
  color: var(--black);
  font-size: 21px;
}

.header-adress-wrap {
  max-width: 270px;
  margin: 0 auto;
}

.user {
  padding-left: 19px;
  padding-right: 19px;
  background-color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
  height: 45px;
}

.user:hover {
  color: var(--special-blue);
}

.login-icon {
  margin-right: 10px;
}

.header-description {
  max-width: 232px;
  margin-left: 3%;
}

.header-tel svg {
  margin-right: 16px;
}

.header-tel {
  color: var(--basic-red);
  font-weight: 700;
  font-size: 21px;
  background: var(--white-grey);
  border: 3px solid var(--white);
  padding: 7px 0;
  box-sizing: border-box;
  display: block;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-tel svg {
  vertical-align: baseline;
}

.header-adress {
  color: var(--gray-color);
  font-size: 14px;
}

.navigation {
  padding: 20px 0 14px;
  background-color: var(--gray-color);
  color: var(--white);
  border-bottom: 5px solid var(--gray);
  /* max-width: 834px; */


}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 840px;
  gap: 5px;
  margin: 0 auto;
}

.nav__link:hover {
  color: var(--special-blue);
}

.category {
  display: flex;
}

.assortment-list {
  display: flex;
  gap: 20px;
  color: var(--white);
  justify-content: space-between;
  margin-bottom: 20px;
}



.category {
  padding: 60px 0;

}

.block-one {
  margin-right: 20px;
  flex-grow: 1;
}

.category-inner {
  position: relative;

}

.category-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 123px;
  max-width: 300px;
  box-sizing: border-box;
  padding: 20px 23px;
}

.category-new {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  background-image: url(../image/new.svg);
  background-repeat: no-repeat;
  display: none;
}

.materials {
  background-color: var(--special-yellow);

}

.materials-items {
  /* margin-right: 55px; */
}

.materials-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 14px;
  color: var(--white);
}

.category-images {
  display: block;
  width: 78px;
  height: 100%;
  max-height: 65px;
}

.tools {
  background-color: var(--special-blue);
}

.Technic {
  background-color: var(--special-lilac);
}

.discounts {
  background-color: var(--special-greenlight);
}

.delivery {
  background-color: var(--special-yellow);
}

.block-two {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
}

.category-slider {
  background-color: #fff;
  background-image: url(../image/perforators.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 23px 24px 27px;
  height: 266px;
  max-width: 620px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  color: var(--white);
}

.category-block {
  display: block;
}

.category-title {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.category-description {
  font-size: 18px;
}



.category-wr {
  background-color: var(--white-opasity);
  padding: 10px 24px;
  display: block;
  font-size: 14px;
  color: var(--white);
}

.category-wr:hover {
  background-color: var(--white-opasity-2);
  /* box-shadow: var(--white) 1px 1px 2px 1px; */
}

.category-link {
  text-transform: uppercase;
  white-space: nowrap;
}

.display-block {
  display: block;
}

.none {
  display: none;
}

.link {
  color: var(--white);
  background-color: var(--basic-red);
  padding: 11px 46px;
  max-width: 192px;
  text-align: center;
}

.link:hover {
  background-color: var(--color-line);
}

/* ку ку  */
@media (max-width: 768px) {
  .txt {
    display: none;
  }

  .header-wrap-logo {
    width: 180px;
  }

  .img-logo {
    height: 38px;
  }

  .header-bar,
  .header-btn {
    height: 35px;
  }
}

@media (max-width: 567px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header-wrap-logo {
    width: 110px;
  }

  .img-logo {
    height: 24px;
  }

  .header-bar,
  .header-btn {
    height: 22px;
  }

  .btn-order {
    display: none;
  }
}


@media (max-width: 360px) {
  :root {
    --text-size-mini: 1rem;
  }
}