@import url("../fonts/fonts.css");

::-moz-placeholder,
:-moz-placeholder {
  opacity: 1;
  color: var(--basic-greylight);
}

:focus {
  outline: 0;
}

:root {
  --text-size-mini: 3rem;
  --white-grey: #F3F7F9;
  --color-icon: #888888;
  --white: #FFFFFF;
  --white-opasity: rgba(255, 255, 255, .3);
  --white-opasity-2: rgba(255, 255, 255, .2);
  --basic-background: #F1F5F7;
  --light-violet: #F9F5F0;
  --basic-greylight: #C5C5C5;
  --basic-greylight-e: #405069;
  --basic-grey: #3D546F;
  --gray-ligth: #EAEAEA;
  --gray: #293449;
  --gray-color: #32425C;
  --basic-red: #EE3643;

  --Error: #BA2732;
  --basic-green: #63A63E;
  --success: #5FBB2D;
  --special-greenlight: #8ED78F;
  --special-yellow: rgba(255, 191, 71, 1);
  --special-yellow-o: #FFD27E;
  --special-yellowlight: #FFD180;

  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --color-line: #B52933;
  --black: #000000;
  --font-sans: 'PT Sans', Arial, serif;
  --font-cuprum: 'cuprum', Arial, serif;
}

h1 {
  font-size: var(--text-size-mini);
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: var(--font-cuprum);
  /* line-height: 1; */
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: .3s ease-in-out;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button {
  border: none;
}

input,
textarea {
  border-radius: 0;
  -webkit-border-radius: 0
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input {
  /* width: 100%; */
  outline: none;
}

/* input:invalid {
  border: red;
} */

button {
  cursor: pointer;
  background-color: transparent;
  transition: .3s ease-in-out;
}

p {
  padding: 0;
  margin: 0;
}



/* кнопка закрыть меню  image/burger_close.svg */
.burger-btn__close {
  position: absolute;
  top: 6px;
  right: 0;
  display: block;
  height: 25px;
  width: 25px;
  border: none;
  background-image: url(../image/burger_close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

/* бургер меню */
.modal__mb {
  position: fixed;
  top: 0;
  left: -200%;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 0.2s ease-in-out;
}

.modal__mb_window {
  position: relative;
  background-color: var(--gray);
  padding: 40px 20px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  max-width: 500px;
}

.burger-link {
  margin-top: 30px;
}

.modal_link {
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 136.8%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.modal_logo {
  display: block;
  background-image: url(../image/logo-m.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 101px;
  height: 42px;
}

.modal_box {
  display: flex;
  justify-content: space-between;
  position: relative;
}

._locked {
  overflow: hidden;
}

/* moby-modal-off */


.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 940px;
  margin: 0 auto;
}

/* модальное окно начало */
._locked {
  overflow: hidden;
}

.modal__btn {
  border: none;
  background-color: #f36262;
  padding: 5px 10px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  font-size: 16px;
  cursor: pointer;
}

._modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  pointer-events: none;
}

.modal-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-body {
  background-color: var(--white);
  width: 100%;
  max-height: 90%;
  overflow: auto;
  position: relative;
  margin: auto;
  max-width: 620px;
  border-top: solid 7px var(--basic-red);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
  box-sizing: border-box;
}

.form-wrapper {
  padding: 46px 4% 37px;
  max-width: 460px;
  margin: 0 auto;
}

.modal-button-box {
  padding-top: 37px;
  padding-bottom: 37px;
  background-color: var(--white-grey);
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
}

/* модальное окно конец  */
/* бургер меню  */


.modal_window {
  background-color: #252525;
  padding: 113px 20px;
  height: 100%;
  width: 100%;
  max-width: 229px;
}

.header-modal-close {
  background-image: url(../image/close.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  left: 20px;
  top: 20px;
  height: 16.97px;
  width: 16.97px;
}

.burger-link a {
  color: #ffffff;
  display: block;
  margin-top: 20px;
}

._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  left: 0;
}

.burger_active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  left: 0;
}


.burger-btn {
  background-image: url(../image/burger-menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  background-color: transparent;
  height: 16px;
  width: 24px;
}



.to-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  background: var(--basic-greylight-e);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  z-index: 5;
  transform: scale(1);
  transition: .3s linear;

}

.to-up:hover {
  text-decoration: none;
  transform: scale(1.2);
}

.header {
  color: var(--white);
  background-color: var(--basic-background);
  padding-bottom: 63px;
}

.header-bar {
  background-color: var(--gray);
  height: 42px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.header-left {
  display: flex;
  align-items: center;
  position: relative;
}

.header-wrap-logo {
  margin-right: 17px;

}

.img-logo {
  width: 220px;
  height: 47px;
  background-image: url(../image/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;

  left: 0;
  top: 0;
}

.header-wrap-logo {

  height: 100%;
  width: 220px;
  position: relative;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 2vw;
  gap: 2.3vw;
}

.header-box {
  gap: 4.3vw;
  display: flex;
  align-items: center;
}


.header-icons {
  color: var(--color-icon);
  margin-right: 7px;
}

.header-phone-mb {
  color: var(--color-icon);
  height: 17px;
}

.header-btn {
  color: var(--white);
  height: 42px;
  display: flex;
  align-items: center;
}

.burger-btn__open {
  display: none;
}

.txt {
  margin-right: 4px;
}

.header-btn:hover,
.header-btn:hover .header-icons {
  color: var(--special-yellow);
  transition: linear .2s;
}

.btn-order {
  background-color: var(--basic-green);
  padding-left: 19px;
  padding-right: 16px;
}

.btn-order:hover {
  background-color: var(--success);
  color: var(--white);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding-top: 41px;
  padding-bottom: 45px;
  gap: 15px;
}

.header-description-text {
  line-height: 144%;
  color: var(--basic-red);
  /* max-width: 197px; */
  font-style: italic;
  font-size: 16px;
}

.header-phone-mb {
  display: none;
}

.header-users {
  display: flex;
  gap: 10px;
  color: var(--black);
  font-size: 21px;
}

.header-adress-wrap {
  max-width: 270px;
  margin: 0 auto;
}

.user {
  padding-left: 19px;
  padding-right: 19px;
  background-color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
  height: 45px;
}

.user:hover {
  color: var(--special-yellow);
}

.login-icon {
  margin-right: 10px;
}

.header-description {
  max-width: 232px;
  margin-left: 3%;
}

.header-tel svg {
  margin-right: 16px;
}

.header-tel {
  color: var(--basic-red);
  font-weight: 700;
  font-size: 21px;
  background: var(--white-grey);
  border: 3px solid var(--white);
  padding: 7px 7px;
  box-sizing: border-box;
  display: block;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-tel svg {
  vertical-align: baseline;
}

.header-adress {
  color: var(--gray-color);
  font-size: 14px;
  font-style: normal;
}

.navigation {
  padding: 20px 5.3% 14px;
  background-color: var(--gray-color);
  color: var(--white);
  border-bottom: 5px solid var(--gray);
  /* max-width: 834px; */


}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 840px;
  gap: 5px;
  margin: 0 auto;
}

.nav__link:hover {
  color: var(--special-yellow);
}


.category-list {
  display: flex;
  gap: 20px;
  color: var(--white);
  justify-content: space-between;
  margin-bottom: 20px;
}



.categoryes {
  padding: 60px 0 36px;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.category-inner {
  position: relative;

}

.category-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 123px;
  max-width: 300px;
  box-sizing: border-box;
  padding: 20px 23px;
}

.category-new {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  background-image: url(../image/new.svg);
  background-repeat: no-repeat;
  display: none;
}

.materials {
  background-color: var(--special-yellow);

}

.materials-items {
  /* margin-right: 55px; */
}

.materials-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 14px;
  color: var(--white);
}

.category-images {
  display: block;
  width: 78px;
  height: 100%;
  max-height: 65px;
}

.tools {
  background-color: var(--special-blue);
}

.Technic {
  background-color: var(--special-lilac);
}

.discounts {
  background-color: var(--special-greenlight);
}

.delivery {
  background-color: var(--special-yellow);
}

.category-slider {
  grid-column: 1/ span 2;
  grid-row: 2/ span 2;
  background-color: #fff;
  background-image: url(../image/perforators.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 23px 24px 27px;
  height: 266px;
  max-width: 620px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  color: var(--white);
}

.category-block {
  display: block;
}

.category-title {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.category-description {
  font-size: 18px;
}



.category-wr {
  background-color: var(--white-opasity);
  padding: 10px 24px;
  display: block;
  font-size: 14px;
  color: var(--white);
}

.category-wr:hover {
  background-color: var(--white-opasity-2);
  /* box-shadow: var(--white) 1px 1px 2px 1px; */
}

.category-link {
  text-transform: uppercase;
  white-space: nowrap;
}

.display-block {
  display: block;
}

.visually-hidden {
  display: none;
}

.link {
  color: var(--white);
  background-color: var(--basic-red);
  padding: 11px 0;
  width: 100%;
  max-width: 192px;
  text-align: center;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}

.link:hover {
  background-color: var(--color-line);
}

.link-catalog {
  display: block;
  padding: 10px 0;
  width: 100%;
}

/* популярные товары  */
.goods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 3%;
  padding-right: 14px;
  background-color: var(--light-violet);
  margin-bottom: 20px;
}

.title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
}

.popular-title {
  color: var(--basic-grey);
}

.link-button {
  display: block;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  margin-bottom: 70px;
  gap: 20px;
}

.card-items {
  padding: 30px 10px 21px;
  border: 1px solid var(--gray-ligth);
  text-align: center;
  /* width: 100%; */
  position: relative;
}

.card-items-manufacturer {
  border: 1px solid var(--gray-ligth);
  height: 144px;
}

.card-items-manufacturer:hover {
  border-color: var(--basic-greylight-e);
}

/* .card-items:not(:last-child) {
  margin-right: 20px;
} */

.card-items:hover {
  border: 1px solid var(--special-yellow);
}

.card-image {
  margin-bottom: 16px;
  height: 128px;
}

.card-links {}

.card-title {
  margin-bottom: 7px;
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;

}

.card-title span {
  display: block;
}

.card-prise {
  margin-bottom: 13px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--basic-greylight);
  font-weight: 700;
  font-size: 17px;
  font-family: var(--font-sans);
}

.discount {
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  font-family: var(--font-sans);
  color: var(--white);
  padding: 10px 0;
  max-width: 120px;
  width: 100%;
  background-color: var(--basic-red);
  margin: 0 auto;
  position: relative;
}

.discount::after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent transparent var(--basic-red);
}

.service {
  padding: 64px 0 99px;
  background-color: var(--basic-background);
}

.selection-title {
  color: var(--black);
}

.service-block {
  margin-bottom: 21px;
}

.service-title {
  margin-bottom: 25px;
}

.delivery-title {
  color: var(--gray-color);
  margin-bottom: 30px;
}

.delivery-block {
  position: relative;
  margin-top: 43px;
  width: 100%;
  background-image: url(../image/delivery-car.png);
  background-position: right 30px;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.active-delivery-block {
  display: block;
}

.warranty-block {
  background-image: url(../image/warranty.png);
}

.credit-block {
  background-image: url(../image/credit.png);
}

.link-credit {
  display: block;
}

.selection-text {
  font-family: var(--font-sans);
  font-size: 13px;
  line-height: 185%;
}

.delivery-text {
  max-width: 280px;
}

.credit-text {
  margin-bottom: 36px;
}

.selection {
  display: flex;
  gap: 8vw;
}

.selection-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 45px;
}

.selection-list::after {
  content: '';
  position: absolute;
  background-image: url(../image/shadow.png);
  background-repeat: no-repeat;
  background-size: contain;
  right: 0;
  top: 0;
  width: 10px;
  background-position-x: right;
  height: 100%;
}

.selection-button {
  display: block;
  padding: 17px 2%;
  width: 240px;
  background-color: var(--gray-color);
  color: var(--white);
  font-weight: 700;
  font-size: 21px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--gray);
  border-top: 1px solid var(--basic-greylight-e);
  transition: .2s;
}

.selection-button:hover {
  background-color: var(--basic-greylight-e);
}

.active-bg {
  background-color: var(--white);
  color: var(--gray-color);
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--basic-greylight);
}

.active-bg:hover {
  color: var(--gray-color);
  background-color: var(--white);
}

.about {
  padding: 70px 0;
}

.about-block {
  display: flex;
  justify-content: space-between;
}

.contact {
  width: 100%;
  max-width: 300px;
}

.company-title {
  margin-bottom: 24px;
}

.company-text {
  font-family: var(--font-sans);
  font-size: 13px;
  line-height: 185%;
}

.company-text-p {
  margin-bottom: 40px;
  max-width: 460px;
}

.company-text-pm {
  margin-bottom: 10px;
}

.company-union {
  display: flex;
  gap: 12px;
  flex-direction: column;
  margin-bottom: 20px;

}

.company-item {
  position: relative;
  padding-left: 38px;
}

.company-item::before {
  content: '';
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  position: absolute;
  top: 50%;
  left: 0;

}

.contact-text {
  margin-bottom: 32px;
  max-width: 181px;
}

.map {
  width: 100%;
  max-width: 300px;
  height: 158px;
  background-color: var(--basic-greylight);
  background-image: url(../image/map.jpg);
  background-repeat: no-repeat;
  margin-bottom: 25px;

}

.link-contact {
  width: 100%;
  max-width: 300px;
  font-size: 14px;
}

.footer {
  background-color: var(--gray-color);
  color: var(--white);
}

.footer-wrap {
  padding-bottom: 54px;
}

.address {
  font-size: 18px;
}

.footer-bottom {
  padding: 36px 0 34px;
}

.footer-logo {
  background-image: url(../image/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 220px;
  height: 68px;
  background-position-x: center;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  padding-top: 37px;
}

.address address {
  font-style: normal;
  margin-bottom: 4px;
}

.footer-links,
.footer-link-list {
  display: flex;
  justify-content: space-between;
  gap: 3vw;
}

.footer-nav-link {
  font-size: 18px;
}

.footer-nav-link:hover {
  color: var(--special-yellow);
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}

.footer-bottom {
  background-color: var(--gray);
}

.footer-social {
  display: flex;
  gap: 4px;
}

/* .footer-social-item {
} */
.footer-social-link {
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  display: block;
  border-radius: 50%;
  scale: 1;
}

.footer-social-link:hover {
  scale: 1.1;
  box-shadow: 0 0 0px 1px var(--special-yellowlight);
}

.vk {
  background-image: url(../image/vk.svg);
}

.fb {
  background-image: url(../image/fb.svg);
}

.in {
  background-image: url(../image/in.svg);
}

.feedback {
  display: flex;
  gap: 2vw;
}

.feedback-item {
  width: min-content;
  font-size: 16px;
}

.copyright span {
  font-size: 16px;
}

.feedback-link span {
  color: var(--special-yellowlight);
}

.footer-link-item {
  font-size: 18px;
  color: var(--special-yellowlight);
}

.feedback-link span:hover,
.footer-link-item:hover {
  color: var(--special-yellow);
}

.modal-button {
  max-width: 100%;
  max-width: 460px;
  margin: 0 auto;
}

.mail-form {
  margin: 0 auto;
}

.inputs {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.user-input {

  height: 38px;
  padding: 10px 12px;
  width: 100%;
  max-width: 220px;
  border: 1px solid var(--basic-greylight);
  background-color: var(--white);
  font-family: var(--font-sans);
  box-sizing: border-box;
  margin-bottom: 20px;
}

.user-input:focus {
  border: 1px solid var(--basic-greylight);
}

.mail-form label,
.mail-form label textarea {
  margin-bottom: 10px;
  display: block;
}

.user-name {
  display: block;
}

.user-email {
  display: block;
}

.user-textarea {
  width: 98%;
  min-height: 114px;
}
.hidden {
  display: none;
}
/* ку ку  */
@media (max-width: 944px) {
  .header-users {
    flex-direction: column;
    font-size: 18px;
  }

  .header-description {
    margin: 0;
  }
}

@media (max-width: 864px) {
  .category-list {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-width: 600px;
    margin: 0 auto;
  }

  .category-slider {
    max-width: 100%;
  }

  .category-item {
    padding: 15px 15px;
  }
}

.visible {
  opacity: 1;
  display: block;
}

@media (max-width: 768px) {
  .txt {
    display: none;
  }

  .header-wrap-logo {
    width: 180px;
  }

  .img-logo {
    height: 38px;
  }

  .header-phone-mb {
    display: flex;
  }

  .header-bar,
  .header-btn {
    height: 35px;
  }

  .header-tel {
    display: none;
  }

  .header-inner {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .header-description {
    max-width: 100%;
  }

  .header-description-text {
    text-align: center;
  }

  .header-inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .header-users {
    flex-direction: row;
    font-size: 16px;
  }

  .nav__link {
    font-size: 16px;
  }
}

@media (max-width: 567px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header-wrap-logo {
    width: 101px;
    margin-right: 0;
  }

  .img-logo {
    background-image: url(../image/logo-m.png);
    width: 101px;
  }

  /* .header-bar,
  .header-btn {
    height: 22px;
  } */

  .btn-order {
    display: none;
  }

  .burger-btn__open {
    display: flex;
  }

  .navigation {
    display: none;
  }

  .header {
    padding-bottom: 0;
  }

  .header-adress {
    text-align: center;
  }

  .header-box {
    gap: 15px;
  }

  .category-list {
    grid-template-columns: 1fr;
  }

  .category-slider {
    grid-column: 1;
    grid-row: 1;
  }
}


@media (max-width: 360px) {
  :root {
    --text-size-mini: 1rem;
  }
}